<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <%- include('../includes/flash-messages.ejs') %>
                <div class="centered">
                    <button class="btn" type="button" onClick="addRandomProduct()">Add Random Product</button>
                    <button class="btn" type="button" onClick="deleteAllProducts()">Delete All Products</button>
                </div>
                <input type="hidden" name="_csrf" id="csrf" value ="<%= csrfToken %>">
                <% if (prods.length > 0) { %>
                    <div class="grid">
                        <% for (let product of prods) { %>
                            <%- include('../includes/product-schema.ejs', {product}) %>
                        <% } %>
                    </div>
                    <% } else { %>
                        <h1>No Products Found!</h1>
                        <% } %>
            </main>
            <script src="/js/admin.js"></script>
            <%- include('../includes/end.ejs') %>