<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
            <h2>Name: <%= name %></h2>
            <h2>Email: <%= email %></h2>
            <a href="/reset" class="btn">Reset Password</a>
        </main>
        <%- include('../includes/end.ejs') %>