<article class="card product-item">
    <header class="card__header">
        <h1 class="product__title" id="title">
            <%= product.title %>
        </h1>
    </header>
    <div class="card__image">
        <img src="<%= product.imageUrl %>" alt="<%= product.title %>" id="image">
    </div>
    <div class="card__content">
        <h2 class="product__price" id="price">$
            <%= product.price %>
        </h2>
        <p class="product__description" id="description">
            <%= product.description %>
        </p>
    </div>
    <div class="card__actions">
        <a href="/admin/edit-product/<%= product._id %>?edit=true" class="btn">Edit</a>
        <input id="_id" type="hidden" value="<%= product._id %>" name="productId">
        <button class="btn" type="button" onClick="deleteProduct(this)">Delete</button>
    </div>
</article>