<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (orders.length <= 0) {%>
            <h1>Nothing there!</h1>
            <% } else { %>
                <ul>
                    <% orders.forEach(order => { %> 
                        <li>
                            <h1>Order Id: <%= order._id %></h1>
                            <h3>User Id: <%= order.user._id %></h3>
                            <h4>User Name: <%= order.user.name %></h4>
                            <h3>User Email: <%= order.user.email %></h3>
                            <ul>
                                <% order.products.forEach(product => { %> 
                                    <li><%= product.title %> ---- (<%= product.quantity %> units @ <%= product.price %>)</li>
                                <% }) %>
                            </ul>
                            <p>Total Price : <%= order.totalPrice %></p>
                            <p><a class="btn" href="/orders/<%= order._id %>" target="_blank">Invoice</a></p>
                        </li>
                    <% }) %>
                </ul>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>